#ludo-board {
    width: 95vw; /* Mobile screen par bada dikhega */
    height: 95vw;
    max-width: 450px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    border: 5px solid gold;
    background-color: white;
}
